@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    background: linear-gradient(to right, #8eee83, #dbf708);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "poppins", sans-serif;
  }
  .Form{
    background: linear-gradient(to right, #d4edd1, #08f7df);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: none;
    width: 70vw;
    padding: 10px;
    border-radius: 12px;
  }
  .icon{
    margin-bottom: 10px;
    padding: 0px;
  }
  .icon img{
    height: 50px;
  }
  h3{
    margin-top: 0px;
  }
  input {
    margin: 10px;
    padding: 10px;
    border-radius: 12px;
    background-color: azure;
  }
  textarea {
    margin: 10px;
    padding: 10px;
    border-radius: 12px;
    background-color: azure;
  }
  button {
    padding: 10px;
    margin: 25px;
    border-radius: 17px;
    background-color: rgb(218, 230, 236);
  }
  